<div class="card-defaut m-3" style="width: 18rem;">
<div class="wrap d-flex justify-content-between">
 <h3 class="card-title">Titre recette</h3>
  <i class="fa-regular fa-heart "></i>
</div>
 <%= image_tag("https://www.apero-bordeaux.fr/wp-content/uploads/2024/09/recette-brioche-maison-la-meilleure-facon-demerveiller-vos-papilles-1-1.png.webp", alt: "image recette", width: 200, height: 100, class: "img-defaut", id: "identifiant") %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
