
<div class="footer">
  <div class="footer-links">

<a href="#" data-controller="audio" data-action="click->audio#play" data-audio-file="<%= asset_path('atable.mp3') %>">
  <i class="fa-solid fa-microphone icon-couleur-vert"></i>
</a>

  <%= link_to new_recipe_path do %>
    <i class="fa-solid fa-pen-to-square icon-couleur-vert"></i></a>
  <% end %>
        <%= form_with model: @recipe, url: recipes_path, local: true, html: { enctype: 'multipart/form-data', data: { controller: "image-upload" } } do |form| %>
      <%= form.file_field :photo, accept: "image/*",id: "upload-photo",
                          data: { action: "change->image-upload#processImage", target: "image-upload.input" },
                          style: "display:none;"%>
      <label for="upload-photo">
       <a> <i class="fa-regular fa-image icon-couleur-vert"></i></a>
      </label>
    <% end %>
  </div>
</div>
