<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-microphone icon-couleur-vert"></i></a>
    <a href="#"><i class="fa-solid fa-pen-to-square icon-couleur-vert"></i></a>
    <a href="#"><i class="fa-regular fa-image icon-couleur-vert"></i></a>
  </div>
</div>
