<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-microphone icon-couleur-vert"></i></a>
    <a href="#"><i class="fa-solid fa-pen-to-square icon-couleur-vert"></i></a>
        <%= form_with model: @recipe, url: recipes_path, local: true, html: { enctype: 'multipart/form-data' } do |form| %>
      <%= form.file_field :photo, accept: "image/*", style: "display:none;", id: "upload-photo" %>
      <label for="upload-photo">
       <a> <i class="fa-regular fa-image icon-couleur-vert"></i></a>
      </label>
    <% end %>

  </div>
</div>
