// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$rouge-sombre: #AC0A1D;
$rouge-sombre-hover: #8a0817;
$vert-sapin: #278D46;
$vert-sapin-hover: #1e6f36;;
$beige-bg: #FFFBEC;
$orange-flash: #ff4d24;
$orange-flash-hover: #e34420;
$bleu-canard: #0e5f65;
$bleu-canard-hover: #083d40;
$maronasse: #69330f;
$jaune-poussinet: #ffde59;
$marron-clair: #ae612e;
$jaune-epais: #f8e49c;
$orange: #ffb55e;
$orange-hover: #ca8e4a;
