// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$rouge-sombre: #AC0A1D;
$rouge-sombre-hover: #aa4a55;
$vert-sapin: #278D46;
$vert-sapin-hover: #518d63;
$beige-bg: #FFFBEC;
$orange-flash: #ff4d24;
$orange-flash-hover: #ff4d24;
$bleu-canard: #0e5f65;
$bleu-canard-hover: #3b6264;
$maronasse: #69330f;
$jaune-poussinet: #ffde59;
$marron-clair: #ae612e;
$marron-clair-hover: #a47f67;
$jaune-epais: #f8e49c;
$jaune-epais-hover: #f8d09c;
$orange: #ffb55e;
$orange-hover: #ca8e4a;
