<div class="container">
  <h1>Voir ma recette partagée</h1>
  Partagé par <strong><em><%= @user_share.user_id %> </em></strong></p>
  <p class="paragraph">Recette: <%= @share.recipe_id %></p>
  <p class="paragraph">Message: <%= @share.message %></p>
  <p class="paragraph">Destinataire: <%= @share.receiver_id %></p>
</div>
