<div class="container-defaut">

<h1>FRONT END TESTING</h1>


<em><u><h3>#Container (class="container-defaut")</h3></u></em>
</br>
</br>

<em><u><h3>#Titres (h1) et sous-titres (h3)</h3></u></em>
</br>

<h1>H1 The Ultime Cookbook</h1>
</br>
<h3>H3 Les nouvelles recettes de Cyril Lignac</h3>

</br>
</br>

<em><u><h3>#Paragraphes (p)</h3></u></em>
</br>

<p>Paragraphe :
Lorem ipsum dolor sit amet. Qui quisquam animi est voluptatem sunt hic porro reprehenderit et quibusdam quasi sed obcaecati dignissimos 33 reprehenderit ipsum. Aut voluptas expedita eos galisum harum et voluptas iusto aut mollitia obcaecati eum amet cumque.
</br>
Ad molestiae sint quo facere voluptate aut temporibus dolor qui dicta consectetur eum doloribus impedit quo rerum rerum ad iste omnis. Aut velit nemo ut deserunt vero id cumque consequatur non dolores quam. Est rerum commodi et omnis Quis ex voluptate quidem qui dolore accusamus.
</br>
Est excepturi nihil vel galisum molestiae est quod nisi sit saepe quia hic consequuntur inventore. Qui consequatur sunt qui cupiditate tempore et aliquam voluptas ab corporis molestiae eos quia voluptatem! Id omnis porro eos enim quaerat et quam corporis qui itaque exercitationem eum repellat quas eum accusamus modi aut quibusdam molestias. Ea dignissimos voluptas et harum dolor in inventore saepe quo officia reiciendis et doloribus delectus?
</p>
</br>

<em><u><h3>#Cards (class="card-defaut")</h3></u></em>
</br>

<div class="card-defaut">
Lorem ipsum dolor sit amet. Qui quisquam animi est voluptatem sunt hic porro reprehenderit et quibusdam quasi sed obcaecati dignissimos 33 reprehenderit ipsum. Aut voluptas expedita eos galisum harum et voluptas iusto aut mollitia obcaecati eum amet cumque.
</div>
</br>
</br>

<em><u><h3>#Images (class="img-defaut")</h3></u></em>
</br>

<%= image_tag("https://www.apero-bordeaux.fr/wp-content/uploads/2024/09/recette-brioche-maison-la-meilleure-facon-demerveiller-vos-papilles-1-1.png.webp", alt: "image recette", width: 400, height: 200, class: "img-defaut", id: "identifiant") %>
</br>
</br>

<em><u><h3>#Boutons (class="btn-bleu btn-rouge btn-orange")</h3></u></em>
</br>


<%= link_to "Bouton bleu", "#", class: "btn btn-bleu" %>
</br>
</br>

<%= link_to "Bouton orange", "#", class: "btn btn-orange" %>
</br>
</br>

<%= link_to "Bouton rouge", "#", class: "btn btn-rouge" %>
</br>
</br>

<em><u><h3>#Icones (class="icon-couleur-bleu   icon-couleur-rouge   icon-couleur-orange")</h3></u></em>
</br>

<i class="icon-couleur-bleu fa-solid fa-magnifying-glass" style="font-size: 50px;"></i>

</br>
</br>

<i class=" icon-couleur-rouge fa-solid fa-magnifying-glass" style="font-size: 50px;"></i>
</br>
</br>

<i class=" icon-couleur-orange fa-solid fa-magnifying-glass" style="font-size: 50px;"></i>
</br>
</br>

</div>
