// ------------------- TITRE ET IMAGE -------------------

.card-overview-wrap {
  position: relative;
}


.card-overview-title {
    color: $bleu-canard;
    font-family: $headers-font-2;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 5px;
    // display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.coeur {
  position: absolute;
  top: 13px;
  right: 11px;
  font-size: 24px;
}

.card-overview-image {
  text-align: center !important;
  width: 100% !important;
  height: 150px !important;
  object-fit: cover;
  object-position: center;
}

// ------------------- ICONES ET TEXTE -------------------

.card-overview-container-horizontal {
padding-top: 20px;
display: flex;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
}

.card-overview-container-column-left {

}

.card-overview-container-column-right {
  // margin-left: 100px;
}

.card-overview-container-line {
  display: flex;
}

.card-overview-icone {
  font-size: 24px;
}

.card-overview-text {
  padding-left: 14px;
  font-size: 16px;
}
