// ------------------- CAROUSEL CARDS OVERVIEWS -------------------


.swiper-container-carousel-1 {
  width: 100%;
  height: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-container-carousel-1 .swiper-slide-carousel-1 {
  background-position: center;
  background-size: cover;
  width: 300px;
  // height: 300px;
}

.swiper-container-carousel-1 .swiper-slide-carousel-1 img {
  display: block;
  width: 100%;
  height: 150px;
  text-align: center;
  margin-right: 300px;
}

// .swiper-wrapper {
//   height: 360px !important;
// }
// .swiper-pagination-bullet {
//   color: red;
//   background: red !important;
// }

// ------------------- CAROUSEL SWIPER ICONES -------------------


swiper-container {
  width: 100%;
  height: 160px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: red; /* Juste pour tester
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .text-carousel-icone {
  position: relative;
  z-index: 1; /* Assure que le texte reste visible au-dessus de l'icône */
  margin-top: 120px; /* Ajustez cette valeur pour espacer le texte si nécessaire */
}


.text-carousel-icone {
  z-index: 0;
  font-family: $body-font;
  color: $beige-bg;
  font-weight: bold;
  font-size: 14px;
  font-style:oblique;
}

// .swiper-pagination-bullet {
//   background-color: $beige-bg !important;
// }

// .swiper-pagination-bullet-active {
//   background-color: $orange !important;
// }

// ------------------- ICONES DE CAROUSEL -------------------


.icon-carousel {
  position: absolute;
  text-shadow: 0 0 8px rgba(255, 181, 94, 1);
}

.icon-carousel:active {
}


swiper-slide:nth-child(4n+1) i.icon-carousel {
  color: $bleu-canard !important;
  transition: all 0.3s ease;
}

swiper-slide:nth-child(4n+2) i.icon-carousel {
  color: $orange !important;
  transition: all 0.3s ease;
}

swiper-slide:nth-child(4n+3) i.icon-carousel {
  color: $rouge-sombre !important;
  transition: all 0.3s ease;
}

swiper-slide:nth-child(4n+4) i.icon-carousel {
  color: $vert-sapin !important;
  transition: all 0.3s ease;
}

// ------------------- ICONES HOVER -------------------

swiper-slide:nth-child(4n+1):active i.icon-carousel {
  color: $bleu-canard-hover !important;
  transform: scale(1.1);
}

swiper-slide:nth-child(4n+2):active i.icon-carousel {
  color: $orange-hover !important;
  transform: scale(1.1);
}

swiper-slide:nth-child(4n+3):active i.icon-carousel {
  color: $rouge-sombre-hover !important;
  transform: scale(1.1);
}

swiper-slide:nth-child(4n+4):active i.icon-carousel {
  color: $vert-sapin-hover !important;
  transform: scale(1.1);
}
