.footer {
  background: $jaune-epais;
  border-top: 2px solid $marron-clair;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  position: fixed; /* Changed from sticky to fixed */
  bottom: 0; /* Stick it to the bottom */
  width: 100%; /* Ensure it spans the full width of the viewport */
  z-index: 1000;
}
.icon-couleur-vert {
  color:  $vert-sapin;
  opacity: 0.75;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Make the container span the full width */
}

.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.icon-couleur-vert:hover {
  opacity: 1;
}


.footer-links a {
  text-decoration: none;
  font-size: 24px;
  flex: 1; /* Ensures each link takes up equal space */
  
  padding: 0px 10px;
}

.footer-links a:first-child {
  text-align: left; /* Align the first link to the left */
}

.footer-links a:last-child {
  text-align: right; /* Align the last link to the right */
}
