// ------------------- BACKGROUND & CONTAINERS -------------------

.background {
  // background-color: $beige-bg;
  // padding-left: 50px;
  // padding-right: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url('background-image-3.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden; /* Ensures nothing extends outside the container */
}

.container-defaut {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}

.container-division {
padding-top: 9px;
padding-bottom: 9px;
}

.item-centrage {
  display: flex;
  justify-content: center;
}

// ------------------- TEXTE -------------------

h1 {
  color: $marron-clair;
  font-family: $headers-font-1;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bolder;
  size: 24px;
  margin: 0px;
  font-size: 42px;
  text-shadow: 0 0 15px rgba(211, 129, 4, 0.2);
}

h3, h4, h5, h6 {
  color: $bleu-canard;
  font-family: $headers-font-2;
  letter-spacing: 2px;
}

body {
    font-family: $body-font;
    color: $maronasse;
  }

p {
  font-family: $body-font;
  color: $maronasse;
}


// ------------------- BOUTONS -------------------

.btn-bleu {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $bleu-canard;
  transition: background 0.3s ease;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-bleu:active {
  background: $bleu-canard-hover;
  color: white;
  font-weight: bold;
}

.btn-vert {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $vert-sapin;
  transition: background 0.3s ease;
  text-align: center;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.btn-vert:active {
  background: $vert-sapin-hover;
  color: white;
  font-weight: bold;
}

.btn-orange {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-orange:active {
  background: $orange-hover;
  color: white;
  font-weight: bold;
}

.btn-rouge {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $rouge-sombre;
  transition: background 0.3s ease;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-rouge:active {
  background: $rouge-sombre-hover;
  color: white;
  font-weight: bold;
}

.btn-marron {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $marron-clair;
  transition: background 0.3s ease;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-marron:active {
  background: $marron-clair-hover;
  color: white;
  font-weight: bold;
}

// ------------------- CARDS -------------------

.card-defaut {
  overflow: hidden;
  border: $marron-clair solid 3px;
  background-color: $jaune-epais;
  border-radius: 4px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 8px rgba(255, 181, 94, 1);
  margin: 20px auto; /* Centers the card with margin */
  width:  90%; /* Reduces the width to fit on smaller screens */
  padding: 15px;
  transition: all 0.3s ease;
}

.card-defaut:active {
  background-color: $jaune-epais-hover;
  border: $rouge-sombre solid 2px;
  transform: scale(1.05);
}

.card-tags {
  border: $marron-clair solid 3px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 181, 94, 1);
  margin: 20px auto;
  width:  90%;
  padding: 15px;
}


// ------------------- ICONES -------------------


.icon-couleur-bleu {
  color:  $bleu-canard;
}

.icon-couleur-vert {
  color:  $vert-sapin;
}

.icon-couleur-vert:active {
  text-shadow: 0 0 15px rgba(211, 129, 4, 0.2);
}

.icon-couleur-orange {
  color:  $orange;
}

.icon-couleur-rouge {
  color:  $rouge-sombre;
}

// ------------------- IMAGES -------------------

.img-defaut {
  border: $marron-clair solid 1px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// ------------------- LIENS -------------------

a {
text-decoration: none;
}
